html{
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 75px;
    background-color: rgb(250, 250, 250);
}

header{
    position: fixed;
    margin-bottom: -10px;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: #000821;
}

#boton__logo{
    align-self: center;
    display: flex;
    left: calc(50% - 1.5625rem);
    position: absolute;
}

#header__logo{
    max-height: 125px;
    max-width: 125px;
    margin-top: 5px;
}

.logo{
    display: inline-block;
    position: absolute;
    left: 45%;
}
/*
.logo__container{
    padding: 5px;
    max-height: 75px;
} 

.boton__menu{
    display: inline;
}


.menu__desing{
    display: inline;
    margin: 5px;
    padding: 0px 20px 0px 0px;
    border-bottom: solid 1.6px pink;
}
*/
.menu__boton{
    width: 50px;
    height: 30px;
    top: 25%;
    left: 5%;
    position: relative;
    cursor: pointer;
}

.menu__boton #span1, #span2, #span3{
    position: absolute;
    content: '';
    background-color: aliceblue;
    width: 25px;
    height: 1.5px;
    border-radius: 5px;
    transition: all 400ms ease;
    margin-top: 25%;
    margin-left: 75%;
    
}

#span1{
    top: 8px;
}
#span2{
    top: 16px;
}
#span3{
    top: 24px;
}

#esp{
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 20px;
    padding: 0px 15px 25px 10px;
    z-index: 5;
}
/*
i{
    position: absolute;
    color: aliceblue;
    margin-top: 25px;
    margin-left: 10%;
    cursor: pointer;
}
*/
/*
.container{
    position: absolute;
    margin-left: 20px;
}

i{
    position: absolute;
    color: black;
    margin-top: 1.5%;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(255, 74, 74);
    cursor: pointer;
    transition: 0.5 ease;
}

i:hover{
    transform: rotate(-15deg);
}


.buscador{
    height: 30px;
    width: 0;
    margin: 20px 10px 10px -5px;
    padding: 10px;
    transition: 0.5 ease;
}

.btn{
    position: relative;
    margin: -15px 0px 40px;
    transition: 0.7 ease;
}

.container:hover input{
    transition: all 0.5 ease;
    width: 200px;
} */

.box{
    position: absolute;
    top: 27.5%;
    left: 15%;
}
input.src{
    padding: 0px 9px 0px 32px;
    outline: none;
    font-size: 18px;
    color: aliceblue;
    border: solid 2px #263149;
    background: #263149 url("/search-icon.png")
        no-repeat 9px center;
    width: 100px;
    transition: all .5s;
}

::placeholder{
    font-size: 18px;
    color: white;
}

input.src:hover{
    width: 300px;
    color: white;
    background-color: #263149;
}

 /* ACÁ TERMINA EL PRIMER HEADER */

.temas__de__hoy{
    background: #f5f5f5;
    display: flex;
    align-items:stretch;
}

.temas__de__hoy h2{
    font-weight: 700;
    font-size: 14.5px;
    margin: 9px 5px 7.5px 25px;
    padding: 2.5px;
}

.botones__temas{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin: 10px 4px 0px 10px;
}

.botones__temas:hover{
    font-weight: 600;
    text-decoration: underline;
    color: rgb(39, 89, 206);
}

.tema__dolar{
    display: flex;
    align-items:stretch;
    margin-left: 100px;
}

.tema__dolar h2{
    font-weight: 700;
    font-size: 14.5px;
    margin: 9px 5px 7.5px 25px;
    padding: 2.5px;
}

.dolares{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin: 10px 0px 0px 10px;
}

 /* ACÁ TERMINA EL SEGUNDO HEADER */

.appypf__imagen{
    background-image: repeating-linear-gradient(45deg, 
    #00aacc, #e3e3e3 0px, #ffffff 4px, #ffffff 5px);
    text-align: center;
}

 /* ACÁ TERMINA EL PRIMER ANUNCIO */

 /* ACÁ EMPIEZA LA SECCIÓN PRINCIPAL */

.totalidad{
    margin: 0px 20px 0px 20px;
}

.seccion__principal{
    display: flex;
    margin: 40px 0px 30px 0px;
    width: 80%;
}

.canta__img{
    position: absolute;
    display: flex;
    right: 12px;
}

.publicidad{
    position: sticky;
    margin-left: 14px;
    top: 75px;
}

.noticia__principal{
    width: 750px;
    height: 750px;
    background: #000821;
    margin: 0px 25px 20px 0px;
}

.noticia__principal__img{
    width: 100%;
}

.titulo__noticia__principal span{
    padding-bottom: 10px;
    color: #6FCAFA;
    font-size: 17px;
    font-weight: 600;
}

.titulo__noticia__principal{
    padding: 20px;
    width: 570px;
}

.titulo__enlace__notprin{
    text-decoration: none;
}

.titulo__noticia__principal h2{
    margin: 20px 0px 20px 0px;
    color: #FAFAFA;
    font-family: 'TT interface' sans-serif;
    font-weight: 700;
    font-size: 34px;
    width: 570px;
}

.sub__parrafo{
    font-size: 18px;
    color: #FAFAFA;
}

.mini__noticias{
    display: table;
}

.mini__noticia{
    margin: 0px 28px 20px 0px;
    object-fit: cover;
}

.mini__noticia_img{
    width: 335px;
    max-height: 187px;
    margin-bottom: 7px;
}

.titulo__mini__noticia{
    padding: 7px 0px 7px 0px;
    max-width: 298px;
}

.titulo__mini__noticia h2{
    font-family: 'TT interface' sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.subtitulos__enlaces{
    text-decoration: none;
    color: rgb(21, 21, 21);
}

.subtitulos__enlaces:hover{
    text-decoration: underline;
    color: rgb(123, 123, 123);
}

.linea__mini__noticias{
    display: flex;
    align-items: stretch;
    width: 75%;
}

.linea__noticia__mediana{
    display: flex;
    align-items: stretch;
    margin-left: 4.5%;
}

.noticia__mediana{
    margin-right: 30px;
    margin-bottom: 20px;
    width: 460px;
}

.noticia__mediana__img{
    width: 460px;
    padding-bottom: 7px;
}

.titulo__noticia__mediana h2{
    padding-top: 7px;
    font-weight: 700;
    font-size: 30px;
}

.media__pagina{
    width: 100%;
    height: max-content;
    background: #000821;
}

#carouselExample{
    margin-left: 30px;
    width: 75%;
}

#punto{
    color: #0d6ccd;
    font-size: 25px;
}

.titulo__media__pagina{
    color: #FAFAFA;
    font-size: 48px;
    font-weight: 700;
    padding: 30px 20px 10px 10px;
    margin: 20px;
}

.sub__m__p{
    width: 940px;
    padding: 40px 0px 10px 30px;
}

.subtitulo__media__pagina{
    color: #FAFAFA;
    text-decoration: none;
}

.subtitulo__media__pagina h2{
    font-size: 32px;
    font-weight: 700;
}

.mini__noticias__m__p{
    margin: 30px 0px 0px 30px;
}

.texto__sub__subtitulo{
    font-size: 35px;
    margin: 20px 0px 5px 10px;
}

.hhrr{
    border: 3px solid #0d6ccd;
    width: 25%;
}
